//FONDOS
#fondo_degrade{
    background: linear-gradient(170.21deg, #D8D8D8 7.36%, rgba(243, 214, 225, 0.9) 98.85%);
}




//FUENTES
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');




//ESTILOS GENERALES
h2{
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #F22973;
    font-size: 48px;
    padding-top: 5%;
    padding-bottom: 5%;
}
h3{
    color: #5A5A5A;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
}
h4{
    color: #5A5A5A;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
p{
    font-family: 'Montserrat', sans-serif;
    color: #5A5A5A;
}
.btn{
    border-radius: 17px;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180deg, rgba(252, 249, 81, 0.9) 0%, #F0BE06 100%);
    border: none;
    color: #5A5A5A;
}




//HEADER
.fondo_presentacion{
    background-color: transparent;
    a{
        color: #5a5a5a;
    }
}
.fondo_nav{
    background-color: #545454;
    a{
        color: white;
    }
}
#logo{
    position: absolute;
    height: 100px;
    width: 196px;
    left: 136px;
    top: 27px;
}
#borde_boton{
    border: 3px solid white;
    color: white;
}
#carrito_menu{
    background: none;
}




//FOOTER
.footer{
    background: #F3D6E1;
    padding-top: 2%;
    justify-content: space-around;
    h4{
        font-weight: bold;
    }
    p{
        font-size: 14px;
    }
}
.contacto{
    max-width: 100%;
    img{
        float: left;
    }
    ol{
        padding: 0%;
    }
    li{
        list-style: none;
        justify-content: center;
    }
    p{
        margin-left: 2%;
    }
}
.pago{
    justify-self: center;
    padding-left: 5%;
    .grid_pago{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5%;
    }
}
.sociales{
    padding-left: 15%;
    .grid_sociales{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 5%;
    }
}
.copy{
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
}
.suscripcion{
    padding-top: 5%;
}