//FONDOS
#fondo_degrade{
    background: linear-gradient(170.21deg, #D8D8D8 7.36%, rgba(243, 214, 225, 0.9) 98.85%);
}




//FUENTES
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');




//ESTILOS GENERALES
h2{
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #F22973;
    font-size: 50px;
    padding-top: 5%;
    padding-bottom: 5%;
}
h3{
    color: #5A5A5A;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
}
h4{
    color: #5A5A5A;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
p{
    font-family: 'Montserrat', sans-serif;
    color: #5A5A5A;
}
.btn{
    border-radius: 17px;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180deg, rgba(252, 249, 81, 0.9) 0%, #F0BE06 100%);
    border: none;
    color: #5A5A5A;
}




//HEADER
header{
    z-index: 100;
    background-color: #C4C4C4;
}
.navbar{
    background-color: transparent!important;
    a{
        font-weight: 700;
        color: #5A5A5A;
    }
}
#logo{
    position: absolute;
    height: 100px;
    width: 196px;
    left: 136px;
    top: 27px;
}
#borde_boton{
    border: 3px solid white;
    color: white;
}




//FOOTER
.grid_footer{
    padding-top: 2%;
    display: grid;
    grid-template-areas:    "contacto pago sociales"
                            "copy copy suscripcion";
    grid-column-gap: 1rem;
    background-color: #F3D6E1;
    p{
        color: white;
    }
    h5{
        color: white;
    }
}
.contacto{
    grid-area: contacto;
    justify-self: center;
    li{
        list-style: none;
        img{
            float: left;
            width: auto;
        }
        p{
            display: block;
        }
    }
}
.sociales{
    padding-top: 12%;
    grid-area: sociales;
    justify-self: center;
    display: -webkit-box;
    align-items: center;
}
.copy{
    grid-area: copy;
    justify-self: center;
}
.suscripcion{
    grid-area: suscripcion;
    justify-self: center;
}
.pago{
    grid-area: pago;
    justify-self: center;
    padding: 0%;
    .grid_pago{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5%;
    }
}