.nosotros{
    padding-top: 5%;
    padding-bottom: 5%;
    .amor_firma{
        text-align: center;
        font-weight: bold;
    }
    h3{
        font-family: 'Great Vibes', cursive;
        color: #F22973;
        font-size: 53px;
        text-align: end;
    }
}
.cocinera{
    padding-top: 5%;
    padding-left: 15%;
    display: block;
    margin: auto;
}