.nosotros{
    .amor_firma{
        text-align: center;
    }
    h3{
        font-family: 'Great Vibes', cursive;
        color: #F22973;
        font-size: 53px;
        text-align: end;
    }
}
.cocinera{
    padding-top: 5%;
}