//PORQUE ELEGIRNOS
.elegir{
    background-image: url(../img/chocotorta_entera.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    h2{
        text-align: right!important;
        padding-right: 5%;
        padding-bottom: 2%;
        padding-top: 5%;
    }
    p{
        text-align: center;
        font-size: 15px;
    }
    .grid_elegir{
        display: grid;
        grid-template-areas: "amor frescos"
                            "calidad artesanal";
        padding-right: 5%;
        padding-left: 8%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
}
.amor{
    grid-area: amor;
    justify-self: end;
    width: 50%;
    img{
        display: block;
        margin: auto;
    }
}
.frescos{
    grid-area: frescos;
    justify-self: end;
    width: 50%;
    img{
        display: block;
        margin: auto;
    }
}
.calidad{
    grid-area: calidad;
    justify-self: end;
    width: 50%;
    img{
        display: block;
        margin: auto;
    }
}
.artesanal{
    grid-area: artesanal;
    justify-self: end;
    width: 50%;
    img{
        display: block;
        margin: auto;
    }
}