//MENU DE PRODUCTOS
.menu_productos{
    li{
    list-style: none;
    padding: 0;
    margin: 5px 0 35px 0;
    text-align: center;
    }
}
.cuadricula_tortas{
    display: flex;
    flex-wrap: wrap;
    .card{
        border-radius: 17px 17px 17px 17px!important;
    }
    .card-body{
        background-color: #F3D6E1;
        border-radius: 0px 0px 17px 17px;
        button{
            float: right;
        }
    }
    .card_show{
        img{
            border-radius: 17px 17px 0px 0px;
        }
    }
}
.cuadricula_desayunos_meriendas{
    display: flex;
    flex-wrap: wrap;
    .card{
        border-radius: 17px 17px 17px 17px!important;
    }
    .card-body{
        background-color: #F3D6E1;
        border-radius: 0px 0px 17px 17px;
        button{
            float: right;
        }
    }
    .card_show{
        img{
            border-radius: 17px 17px 0px 0px;
        }
    }
}