.cuadricula_productos{
    display: flex;
    flex-wrap: wrap;
    .card{
        border-radius: 17px 17px 17px 17px!important;
    }
    .card-body{
        background-color: #F3D6E1;
        border-radius: 0px 0px 17px 17px;
        button{
            float: right;
        }
    }
    .card_show{
        img{
            border-radius: 17px 17px 0px 0px;
        }
    }
}

//MENU DE PRODUCTOS
.menu_productos{
    display: flex;
}
.menu_listado{
    display: flex;
    padding-bottom: 2%;
    justify-content: center;
    a{
        list-style: none;
        text-align: center;
        color: #5A5A5A;
        display:inline;
        padding-left: 2%;
    }
}
.producto_item{
	transition: all .4s;
}