//MENU DE PRODUCTOS
.menu_productos{
    display: flex;
}
.menu_listado{
    display: flex;
    padding-bottom: 2%;
    justify-content: space-around;
    li{
        list-style: none;
        text-align: center;
        color: #5A5A5A;
        display:inline;
    }
}

//PRODUCTOS
.producto_item{
	transition: all .4s;
}.cuadricula_productos{
    display: flex;
    flex-wrap: wrap;
    .card{
        border-radius: 17px 17px 17px 17px!important;
    }
    .card-body{
        background-color: #F3D6E1;
        border-radius: 0px 0px 17px 17px;
        button{
            float: right;
        }
    }
    .card_show{
        img{
            border-radius: 17px 17px 0px 0px;
        }
    }
}

//DESCRIPCION DE LOS PRODUCTOS
#descripcion{
    border: none;
    background: none;
}
.popover{
    border-radius: 17px;
    border: 1px solid #F22973;
    div{
        border-radius: 17px;
        background: linear-gradient(114.48deg, #D8D8D8 9.06%, rgba(216, 216, 216, 0.3) 90.08%);
    }
}
#popover396868{
    background: linear-gradient(114.48deg, #D8D8D8 9.06%, rgba(216, 216, 216, 0.3) 90.08%);

}
.bs-popover-auto[x-placement^=bottom]>.arrow::after, .bs-popover-bottom>.arrow::after{
    border: 1px solid #F22973;
    border-bottom-color: #f0eded;
}